<header class="layout">
  <nav>
    <ul>
      <li>
        <a href="#">
          <img src="../public/images/logo.svg" alt="Yellow Arrowed 'S'">
        </a>
      </li>
    </ul>
  </nav>
</header>
