<form action="/add" method="post">
  <input type="text" name="username" placeholder="Fill in your name">
  <fieldset>
    <legend>Pick your favourite brands:</legend>
    <label>
      <input type="checkbox" name="brands" value="Nike">
      Nike
    </label>
    <label>
      <input type="checkbox" name="brands" value="Yeezy">
      Yeezy
    </label>
    <label>
      <input type="checkbox" name="brands" value="Jordan">
      Air Jordan
    </label>
    <label>
      <input type="checkbox" name="brands" value="Adidas">
      Adidas
    </label>
    <label>
      <input type="checkbox" name="brands" value="Off-White">
      Off-White
    </label>
  </fieldset>
  <input type="submit" value="Submit" class="add">
</form>

<h2 class="test">Click for info</h2>
<p class="content"></p>