<form method="POST" action="/delete">
  <fieldset>
    <legend>Delete user & preferences:</legend>
    <input type="text" name="username" placeholder="Fill in your username">
  </fieldset>
  <input type="submit" value="Delete" class="delete">
</form>
