<form class="" action="/success" method="post">
  <fieldset>
    <legend>Pick your favourite brands</legend>
    <input type="checkbox" name="nike">
    <label for="nike">Nike</label>

    <input type="checkbox" name="yeezy">
    <label for="yeezy">Yeezy</label>

    <input type="checkbox" name="jordan">
    <label for="jordan">Air Jordan</label>

    <input type="checkbox" name="adidas">
    <label for="adidas">Adidas</label>

    <input type="checkbox" name="offwhite">
    <label for="offwhite">Off-White</label>
  </fieldset>
  <input type="submit" value="Submit">
</form>
