<form action="/update" method="post">
  <fieldset>
    <legend>Change your preferences:</legend>
    <label>
      <input type="checkbox" name="brands" value="Nike">
      Nike
    </label>
    <label>
      <input type="checkbox" name="brands" value="Yeezy">
      Yeezy
    </label>
    <label>
      <input type="checkbox" name="brands" value="Jordan">
      Air Jordan
    </label>
    <label>
      <input type="checkbox" name="brands" value="Adidas">
      Adidas
    </label>
    <label>
      <input type="checkbox" name="brands" value="Off-White">
      Off-White
    </label>
  </fieldset>
  <input type="submit" value="Update">
</form>
