<form action="/success" method="post">
  <fieldset>
    <legend>Change your preferences:</legend>
    <label>Nike</label>
    <input type="checkbox" name="brands" value="Nike">

    <label>Yeezy</label>
    <input type="checkbox" name="brands" value="Yeezy">

    <label>Air Jordan</label>
    <input type="checkbox" name="brands" value="Jordan">
      
    <label>Adidas</label>
    <input type="checkbox" name="brands" value="Adidas">
      
    <label>Off-White</label>
    <input type="checkbox" name="brands" value="Off-White">
  </fieldset>
  <input type="submit" value="Update" class="add">
</form>
